<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UserAgent" value="VoiceCompanion"/>
    <add key="ApplicationId" value="urn:application:voicecompanion"/>
    <add key="RnlFile" value="..\..\rnl.xml"/>
    <add key="VoiceServicesFile" value="..\..\VoiceServices.xml"/>
    <add key="MainMenuConfigFile" value="MainMenu\MainMenuConfiguration.xml"/>
    <add key="GetBuddyConfigFile" value="GetContactService\GetBuddyConfiguration.xml"/>
    <add key="CallbackConfigFile" value="CallbackDialog\CallbackConfiguration.xml"/>
    <add key="MusicOnHoldFile" value="Resources\music.wma"/>
    <add key="CallbackGreetingConfigFile" value="CallbackGreetingDialog\CallbackGreetingConfiguration.xml"/>
    <add key="DialupConfigFile" value="DialupDialog\DialupConfiguration.xml"/>
    <add key="ConferenceServiceConfigFile" value="ConferenceService\ConferenceServiceConfiguration.xml"/>
    <add key="AuthenticationConfigFile" value="AuthenticationDialog\AuthenticationConfiguration.xml"/>
    <add key="Log" value="Enabled"/>
    <add key="LogSwitch" value="15"/>
    <add key="LogFile" value="vclog.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
