<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Please provide parameters necessary for the sample to run without prompting for input. -->

    <!-- Provide the FQDN of the Microsoft Lync Server machine on the topology. -->
    <!-- <add key="ServerFQDN" value="server.contoso.com"/> -->

    <!-- Provide the FQDN of the Machine that the Application service is configured to. -->
    <!-- <add key="ApplicationHostFQDN1" value="appmachine.contoso.com"/> -->

    <!-- Provide the friendly name of the certificate that should be used to communicate with the server. -->
    <!-- The sample looks for a matching cert in the LocalComputer/Personal store. -->
    <!-- <add key="CertificateFriendlyName" value="SampleCertFriendlyName"/> -->

    <!-- The port that the application service is configured to use. -->
    <!-- <add key="ApplicationPort1" value="9033"/> -->

    <!-- The GRUU that the application service is assigned. -->
    <!-- <add key="ApplicationGRUU1"
         value="sip:client.contoso.com@contoso.com;gruu;opaque=srvr:service:VO4TFCGKx1an40N5zJwmqAAA"/> -->

    <!-- The URI of the contact, in the format user@host -->
    <!-- <add key="ApplicationContactURI1" value="user@host"/> -->

    <!-- The URI of the first user that should be invited to the conference. This can be left blank if an
         invitation should not be sent. -->
    <!-- <add key="InvitationTargetURI1" value="user@host"/> -->

    <!-- The URI of the second user that should be invited to the conference. This can be left blank if an
         invitation should not be sent. -->
    <!-- <add key="InvitationTargetURI2" value="user@host"/> -->

    <!-- Audio file for DTMF '0' signal -->
    <add key="Dtmf0WmaFile" value="AudioFiles\0_Zero.wma"/>

    <!-- Audio file for DTMF '1' signal -->
    <add key="Dtmf1WmaFile" value="AudioFiles\1_One.wma"/>

    <!-- Audio file for DTMF '2' signal -->
    <add key="Dtmf2WmaFile" value="AudioFiles\2_Two.wma"/>

    <!-- Audio file for DTMF '3' signal -->
    <add key="Dtmf3WmaFile" value="AudioFiles\3_Three.wma"/>

    <!-- Audio file for DTMF '4' signal -->
    <add key="Dtmf4WmaFile" value="AudioFiles\4_Four.wma"/>

    <!-- Audio file for DTMF '5' signal -->
    <add key="Dtmf5WmaFile" value="AudioFiles\5_Five.wma"/>

    <!-- Audio file for DTMF '6' signal -->
    <add key="Dtmf6WmaFile" value="AudioFiles\6_Six.wma"/>

    <!-- Audio file for DTMF '7' signal -->
    <add key="Dtmf7WmaFile" value="AudioFiles\7_Seven.wma"/>

    <!-- Audio file for DTMF '8' signal -->
    <add key="Dtmf8WmaFile" value="AudioFiles\8_Eight.wma"/>

    <!-- Audio file for DTMF '9' signal -->
    <add key="Dtmf9WmaFile" value="AudioFiles\9_Nine.wma"/>

    <!-- Audio file for DTMF '*' signal -->
    <add key="DtmfStarWmaFile" value="AudioFiles\Star.wma"/>

    <!-- Audio file for DTMF '#' signal -->
    <add key="DtmfPoundWmaFile" value="AudioFiles\Pound.wma"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mscorlib" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>