<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <!--    <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>  -->
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ApplicationId" value="urn:application:webstore" />
    <add key="ApplicationUserAgent" value="ApplicationUserAgent" />
    <add key="DataDirectory" value="App_Data"/>

    <!-- Contact center application id. -->
    <add key="ContactCenterApplicationId" value="urn:application:contactcenter"/>
  </appSettings>
  <connectionStrings>
    <add name="ProductStoreConnectionString"
        connectionString="Data Source=.\RTCLOCAL;AttachDbFilename=|DataDirectory|\ProductStore.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="4000" executionTimeout="45" />
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880"/>
    </authentication>
    <membership defaultProvider="SqlExpressMembershipProvider">
      <providers>
        <clear/>
        <add name="SqlExpressMembershipProvider"
						 type="Microsoft.Rtc.Collaboration.Samples.ContactCenter.Common.SqlExpressMembershipProvider, ContactCenterWcfService"
						 connectionStringName="ProductStoreConnectionString"
						 enablePasswordRetrieval="false"
						 enablePasswordReset="false"
						 requiresQuestionAndAnswer="false"
						 requiresUniqueEmail="false"
						 maxInvalidPasswordAttempts="5"
						 minRequiredPasswordLength="4"
						 minRequiredNonalphanumericCharacters="0"
						 passwordAttemptWindow="10"
						 passwordFormat="Clear"
						 applicationName="/"/>
      </providers>
    </membership>
    <profile inherits="Microsoft.Rtc.Collaboration.Samples.ContactCenter.Common.UserProfile, ContactCenterWcfService" defaultProvider="SqlExpressProfileProvider" enabled="true">
      <providers>
        <clear/>
        <add name="SqlExpressProfileProvider"
						 type="Microsoft.Rtc.Collaboration.Samples.ContactCenter.Common.SqlExpressProfileProvider, ContactCenterWcfService"
						 connectionStringName="ProductStoreConnectionString"
						 applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ProductStoreConnectionString" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
  </system.web>
  <location path="Account">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="silverlightFaults" type="Microsoft.Rtc.Collaboration.Samples.ContactCenterWcfService.SilverlightFaultBehavior, ContactCenterWcfService, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="pollingDuplexHttpBinding" type="System.ServiceModel.Configuration.PollingDuplexHttpBindingCollectionElement" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="pollingDuplexHttpBinding" type="System.ServiceModel.Configuration.PollingDuplexHttpBindingCollectionElement, System.ServiceModel.PollingDuplex, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
    <bindings>
      <pollingDuplexHttpBinding />
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" />
    <services>
      <service name="Microsoft.Rtc.Collaboration.Samples.ContactCenterWcfService.ContactCenterWcfServiceImplementation" 
               behaviorConfiguration="ContactCenterWcfService.ContactCenterWcfServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/ContactCenter.WCFService/" />
          </baseAddresses>
        </host>
        <endpoint address="Presence" binding="webHttpBinding" contract="Microsoft.Rtc.Collaboration.Samples.ContactCenterWcfService.IContactCenterWcfPresenceService" behaviorConfiguration="webBehavior" />
        <endpoint address="" binding="pollingDuplexHttpBinding" contract="Microsoft.Rtc.Collaboration.Samples.ContactCenterWcfService.IContactCenterWcfService" behaviorConfiguration="SilverlightFaultBehavior" />
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SilverlightFaultBehavior">
          <silverlightFaults />
        </behavior>
        <behavior name="webBehavior">
          <webHttp />
          <!--<enableWebScript />-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ContactCenterWcfService.ContactCenterWcfServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="999999" />
          <serviceThrottling maxConcurrentSessions="100" maxConcurrentCalls="100" maxConcurrentInstances="100"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
</configuration>