<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Please provide parameters necessary for the sample to run without prompting for input. -->

    <!--
    **********************************************
    Please fill in the information below that will be used to establish a server platform  
    for all the user and application endpoints of this sample
    *********************************************
    -->

    <!-- Provide the FQDN of the Microsoft Lync Server on the topology. -->
    <!-- <add key="ServerFQDN" value="server.contoso.com"/> -->

    <!-- Provide the FQDN of the Machine that the Application contact is configured to. -->
    <!-- <add key="ApplicationHostFQDN" value="appmachine.contoso.com"/> -->

    <!-- Provide the friendly name of the certificate that should be used to communicate with the server. -->
    <!-- The sample looks for a matching cert in the LocalComputer/Personal store. -->
    <!-- <add key="CertificateFriendlyName" value="SampleCertFriendlyName"/> -->

    <!-- The port that the application contact is configured to use. -->
    <!-- <add key="ApplicationPort" value="9033"/> -->

    <!-- The GRUU that the application contact is assigned. -->
    <!-- <add key="ApplicationGRUU"
    value="sip:user.contoso.com@contoso.com;gruu;opaque=srvr:service:uRYqodmwaFSSHo0TQSUv7QAA"/> -->

    <!--
    **********************************************
    Please fill in the information below that will be used to establish an user endpoint  
    that will be the Conference Organizer in this sample
    *********************************************
    -->

    <!-- Provide the FQDN of the Microsoft Lync Server -->
    <!-- <add key="ServerFQDN1" value="ServerFQDN"/> -->

    <!-- The user name of the user that the sample logs in as -->
    <!-- You may leave this value as blank to use credentials of the currently logged on user -->
    <!-- <add key="UserName1" value="user"/> -->

    <!-- The user domain of the user that the sample logs in as -->
    <!-- You may leave this value as blank to use credentials of the currently logged on user -->
    <!-- <add key="UserDomain1" value="domain"/> -->

    <!-- The user URI of the user that the sample logs in as, in the format user@host -->
    <!-- <add key="UserURI1" value="user@host"/> -->

    <!--
    **********************************************
    Please fill in the information below that will be used to establish an user endpoint  
    that will be the Participant A in this sample
    *********************************************
    -->

    <!-- Provide the FQDN of the Microsoft Lync Server -->
    <!-- <add key="ServerFQDN2" value="ServerFQDN"/> -->

    <!-- The user name of the user that the sample logs in as -->
    <!-- You may leave this value as blank to use credentials of the currently logged on user -->
    <!-- <add key="UserName2" value="user"/> -->

    <!-- The user domain of the user that the sample logs in as -->
    <!-- You may leave this value as blank to use credentials of the currently logged on user -->
    <!-- <add key="UserDomain2" value="domain"/> -->

    <!-- The user URI of the user that the sample logs in as, in the format user@host -->
    <!-- <add key="UserURI2" value="user@host"/> -->

    <!--
    **********************************************
    Please fill in the information below that will be used to establish an user endpoint  
    that will be the Participant B in this sample
    *********************************************
    -->

    <!-- Provide the FQDN of the Microsoft Lync Server -->
    <!-- <add key="ServerFQDN3" value="ServerFQDN"/> -->

    <!-- The user name of the user that the sample logs in as -->
    <!-- You may leave this value as blank to use credentials of the currently logged on user -->
    <!-- <add key="UserName3" value="user"/> -->

    <!-- The user domain of the user that the sample logs in as -->
    <!-- You may leave this value as blank to use credentials of the currently logged on user -->
    <!-- <add key="UserDomain3" value="domain"/> -->

    <!-- The user URI of the user that the sample logs in as, in the format user@host -->
    <!-- <add key="UserURI3" value="user@host"/> -->

    <!--
    **********************************************
    Please fill in the information below that will be used to establish an user endpoint  
    that will be the Participant C in this sample
    *********************************************
    -->

    <!-- Provide the FQDN of the Microsoft Lync Server -->
    <!-- <add key="ServerFQDN4" value="ServerFQDN"/> -->

    <!-- The user name of the user that the sample logs in as -->
    <!-- You may leave this value as blank to use credentials of the currently logged on user -->
    <!-- <add key="UserName4" value="user"/> -->

    <!-- The user domain of the user that the sample logs in as -->
    <!-- You may leave this value as blank to use credentials of the currently logged on user -->
    <!-- <add key="UserDomain4" value="domain"/> -->

    <!-- The user URI of the user that the sample logs in as, in the format user@host -->
    <!-- <add key="UserURI4" value="user@host"/> -->

    <!--
    **********************************************
    Please fill in the information below that will be used to establish an application endpoint 
    to impersonate a PSTN gateway participant
    *********************************************
    -->
    
    <!-- Provide the FQDN of the Machine that the Application contact is configured to. -->
    <!-- <add key="ApplicationHostFQDN1" value="appmachine.contoso.com"/> -->

    <!-- The port that the application contact is configured to use. -->
    <!-- <add key="ApplicationPort1" value="9033"/> -->

    <!-- The GRUU that the application contact is assigned. -->
    <!-- <add key="ApplicationGRUU1"
    value="sip:user.contoso.com@contoso.com;gruu;opaque=srvr:service:uRYqodmwaFSSHo0TQSUv7QAA"/> -->

    <!-- The URI of the contact, in the format user@host -->
    <!-- <add key="ApplicationContactURI1" value="user@host"/> -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mscorlib" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
