<?xml version="1.0"?>
<configuration>
	<appSettings>

		<!-- Provide the Application Id-->
		<add key="ApplicationId" value="urn:application:NameOfApplication"/>

		<!-- Provide the Application Name -->
		<add key="ApplicationName" value="NameOfApplication"/>

		<!-- Provide the Trusted Contact URI-->
		<add key="TrustedContactURI" value="sip:NameOfApplication@contoso.com"/>

		<!-- Provide the Lync Server Name -->
		<add key="LyncServerName" value="Lyncserver.contoso.com"/>

		<!-- The port that the application contact is configured to use. -->
		<add key="ApplicationPort" value="9033"/>

        <!-- The pool FQDN. -->
        <add key="PoolFQDN" value="pool0.contoso.com" />

        <!-- Provide the CWE Guid -->
		<add key="CWEGuid" value="553C1CE2-0C73-51B6-81C7-75F2D071FCD2"/>

		<!-- The GRUU that the application contact is assigned. -->
		<add key="Gruu" value="sip:user.contoso.com@contoso.com;gruu;opaque=srvr:service:uRYqodmwaFSSHo0TQSUv7QAA"/>

		<!-- Provide the name of the certificate that should be used to communicate with the server. -->
		<add key="CertificateName" value="SampleCertificateName"/>

		<!-- The Hyperlink which is appearing on the Lync -->
		<add key="MoreInformationLink" value="http://yourWebsite"/>

		<!--Use Application Auto Provisioning -->
		<add key="UseApplicationAutoProvisioning" value="true"/>

		<!-- The message appearing on the Lync -->
		<add key="MoreInformationMessage" value="Please visit &lt;a href='{0}'&gt;{0} &lt;a&gt;  for more information."/>

		<!-- The message appearing on the Lync -->
		<add key="CWEMessage" value="Please download and run this registry file  &lt;a href='{0}'&gt;{0} &lt;a&gt;
         to properly setup Silverlight based application for HelpDesk."/>

		<!-- CWE Registry File Path which is displaying on the Lync-->
		<add key="CWERegistryFilePath" value="http://serverName:port/cweregistry"/>

        <!--For userend point-->
        <add key="UseUserEndPoint" value="false" />
        <!-- The user URI of the user that the sample logs in as, in the format user@host -->
        <add key="UserURI" value="sip:dummyUser@contoso.com" />
        <!-- The user domain of the user that the sample logs in as -->
        <add key="UserDomain" value="domain" />
        <!-- The user name of the user that the sample logs in as -->
        <add key="UserName" value="userName" />
        <!-- Provide the Password -->
        <add key="Password" value="password" />

    </appSettings>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>



</configuration>
