<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Please provide parameters necessary for the sample to run without prompting for input. -->

    <!-- Fully Qualified Domain Name (FQDN) of the computer in the trusted application pool -->
    <!-- <add key="TrustedAppComputerFQDN" value="trustedapps.contoso.com"/> -->

    <!-- Port assigned to the trusted application -->
    <!-- <add key="TrustedAppPort" value="6000"/> -->

    <!-- GRUU assigned to this computer for the trusted application -->
    <!-- <add key="TrustedAppComputerGRUU"
         value="sip:trustedappcomputer1.contoso.com@contoso.com;gruu;opaque=srvr:testapp:N2VOqtA-GV-36itJG7SV5wAA"/> -->

    <!-- Friendly name of the certificate identifying this computer -->
    <!-- <add key="CertificateFriendlyName" value="TrustedAppCertificate"/> -->

    <!-- SIP URI assigned to the trusted application endpoint -->
    <!-- <add key="TrustedAppEpOwnerURI" value="sip:owner@contoso.com"/> -->

    <!-- FQDN of the registrar pool to which this trusted application endpoint is assigned -->
    <!-- <add key="RegistrarFQDN" value="registrar.contoso.com"/> -->

    <!-- Port of the registrar pool to which this trusted application endpoint is assigned -->
    <!-- <add key="RegistrarPort" value="5061"/> -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mscorlib" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>