<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SuperSimpleLyncKiosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      
    </sectionGroup>
  </configSections>
  <userSettings>
    <SuperSimpleLyncKiosk.Properties.Settings>
      <setting name="autoAnswer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sipEmailAddress" serializeAs="String">
        <value>sip:vickybai@shlinker.com</value>
      </setting>
      <setting name="LyncAccountDomainUser" serializeAs="String">
        <value>o365ms\tonyxia</value>
      </setting>
      <setting name="LyncAccountEmail" serializeAs="String">
        <value>jrtonyxia@o365ms.com</value>
      </setting>
      <setting name="LyncAccountPassword" serializeAs="String">
        <value>Abcd1234!</value>
      </setting>
    </SuperSimpleLyncKiosk.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>